.body{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cell{
    height: 100px;
    margin: 5px;
}
@media(max-width:720px) {
    .cell.red{
        background-color: red;
        width: 100%;
    }
    .cell.green{
        background-color: green;
        width: 48%;
    }
    .cell.green.ghost{
        display: none;
    }
    .cell.orange{
        background-color: orange;
        width: 100%;
    }
    .cell.blue{
        background-color: blue;
        width: 31%;
    }
    .cell.blue.ghost{
        display: none;
    }
    .cell.wiolet{
        background-color: rebeccapurple;
        width: 100%;
    }
}
    @media(min-width:721px) {
        .cell.red{
            background-color: red;
        }
        .cell.red.big{
            width: 73%;
        }
        .cell.red.small{
            width: 23%;
        }
        .cell.green{
            background-color: green;
            width: 31%;
        }
        .cell.orange{
            background-color: orange;
            width: 100%;
        }
        .cell.blue{
            background-color: blue;
            width: 23%;
        }
        .cell.wiolet{
            background-color: rebeccapurple;
            width: 100%;
            display: none;
        }
}